# (str) link to download the proxy list from webshare.io
# can be any proxy provider, so long as the list is the same format
# GOTO: https://proxy.webshare.io/proxy/list?
# Download Proxy List (Txt)
PROXY_DOWNLOAD_URL = https://proxy.webshare.io/proxy/list/download/PASSWORD/-/http/username/direct/

# (varchar) api token for auth
# tokens are found in DB playerdata under the table apiUser
TOKEN = API_TOKEN

# (int) the batch size of the usernames to scrape
QUERY_SIZE = 5000

# (str) for local development use the endpoint http://127.0.0.1:5000
endpoint = https://www.osrsbotdetector.com/dev
KAFKA_HOST = kafka:9092